{lib_dirs,["deps"]}.
{src_dirs, ["src", "test"]}.
{excl_archive_filters, [".*"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
	 {'log4erl', ".*", {git, "git://github.com/ahmednawras/log4erl.git", "master"}}
       ]}.    


{post_hooks, [{compile, "cp ./src/sys.config ./ebin/sys.config"}]}.

